.paintJobTable {
    border-collapse: collapse;
    width: 40%;
    text-align: left;
}

.theader th {
    background-color: rgb(221, 221, 221);
    padding: 5px;
    
    
}

td{
padding-left: 50px;
border-bottom: 1px solid gray;


}

tbody.t-body td {
padding-left: 10px; /* Resetting the padding-left */
border-bottom: 1px solid gray;
text-align: left; /* Align content to the left */
padding-top: 7px;
padding-bottom: 7px;

}
.car-img {
    display: flex;
    width: 50%;
    flex-shrink: 60;

}
.car-img img {
    max-width: 50%; 
    height: auto; }

.car-img p {
    flex: 1;
    height: 20%;
}

.display-none {
    display: none;
}
.cardetails{
    font-weight: bold;
    
}

 
.mySelect{
    width: 150px;
    padding: 4px;
    margin-left: 20px;
    
}
.mySelect1{
    width: 150px;
    padding: 4px;
    margin-left: 28px;

}
.plateno{
    width: 140px;
    padding: 4px;
    margin-left: 49px;
   
}
.submit {
    width: 150px;
    padding: 8px;
    background-color: rgb(234, 109, 94);
    border: none;
    color: white;
    font-weight: bold;
}

.actioButton{
    border: none;
    color: red;

}
.actioButton:hover{
    color: gray;
}

